/* Scss Variables */
$--color-background-dark: #1f2024;
$--color-background-light: #8ae9ec;
$--color-control-hover: rgba(255, 255, 255, 0.438);

$--size-control-button-max: 1.8rem;

$--size-margin-between-controls: 0.3rem;

$--size-canvas-border-radius: 1rem;
/* Css Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  background-color: $--color-background-dark;
}

.paint-paper {
  width: min(45rem, 90vw);
  height: min(45rem, 90vw);

  border: 2px solid $--color-background-light;

  position: relative;

  border-radius: $--size-canvas-border-radius;
  &__controls {
    width: min(10rem, 5%);
    height: fit-content;
    margin-block: auto;

    background-color: black;
    border-radius: min(1vw, 0.5rem);

    position: absolute;
    top: 0%;
    bottom: 0%;
    left: -5%;

    background-color: $--color-background-light;

    display: flex;
    flex-direction: column;

    padding-block: 0.5rem;

    &__container {
      display: flex;
      flex-direction: column;
    }

    &__color-controls {
      &__button {
        width: min(3.5vw, $--size-control-button-max);
        height: min(3.5vw, $--size-control-button-max);

        border: none;
        border-radius: $--size-control-button-max / 5;

        margin-inline: auto;

        margin-block: $--size-margin-between-controls;

        &:nth-child(1) {
          background-color: $--color-background-dark;
        }
        &:nth-child(2) {
          background-color: black;

          z-index: 10;

          background-image: url("../assets/images/color-wheel.png");
          background-position: 50% 50%;
          background-size: 200%;
          background-repeat: no-repeat;
        }
        &:nth-child(3) {
          position: relative;
          overflow: hidden;

          border: none;

          // pseudo-class nth-child can't have a suffix so select input by tag name instead of class
          & input {
            background-color: transparent;
            width: $--size-control-button-max * 2;
            height: $--size-control-button-max * 2;

            margin: 0;
            padding: 0;

            position: relative;
            left: -10px;
            top: -10px;
          }
        }

        &--selected {
          outline: 2px solid white;
        }
      }
    }

    &__tool-controls {
      &__button {
        width: min(3.5vw, $--size-control-button-max);
        height: min(3.5vw, $--size-control-button-max);

        margin-inline: auto;

        background-color: transparent;
        border: none;

        background-size: 1.5rem;
        background-repeat: no-repeat;
        background-position: 50%;

        margin-block: $--size-margin-between-controls;

        &:nth-child(1) {
          background-image: url("../assets/images/pen-line-svgrepo-com.svg");
        }

        &:nth-child(2) {
          background-image: url("../assets/images/eraser-svgrepo-com.svg");
        }

        &--selected {
          scale: 1.01;
          background-color: $--color-control-hover;
        }
      }
    }

    &__canvas-controls {
      &__button {
        width: min(3.5vw, $--size-control-button-max);
        height: min(3.5vw, $--size-control-button-max);

        margin-inline: auto;
        margin-block: $--size-margin-between-controls;

        background-color: transparent;

        border: none;

        background-repeat: no-repeat;
        background-position: 50%;

        &:nth-child(1) {
          background-image: url("../assets/images/x.svg");
        }
        &:nth-child(2) {
          background-image: url("../assets/images/file-plus.svg");
        }

        &:hover {
          background-color: $--color-control-hover;
        }
      }
    }

    &__hdivider {
      height: 2px;

      margin-inline: 10%;

      background-color: $--color-background-dark;

      border: none;

      margin-block: $--size-margin-between-controls;
    }
  }
  &__upper-decoration {
    height: 4%;
    margin-inline: 35%;

    background-color: $--color-background-light;

    position: absolute;
    left: 0%;
    right: 0%;
    top: -2%;
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    &__inner-line {
      width: 80%;
      height: 2px;

      background-color: $--color-background-dark;
    }
  }
  &__grid {
    background-color: white;

    display: flex;
    flex-direction: row;

    flex-wrap: wrap;

    align-content: start;

    width: 100%;
    height: 100%;

    border-radius: $--size-canvas-border-radius;
    overflow: hidden;
  }

  &__top-layer {
    width: 100%;
    height: 100%;
    background-color: #1f20246e;

    position: absolute;

    top: 0px;

    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;

    &__new-canvas-pop-up {
      width: 40%;
      height: 25%;

      background-color: $--color-background-dark;

      border: 2px solid $--color-background-light;
      border-radius: 0.5rem;

      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;

      row-gap: 0.8rem;

      &__required-info-label {
        color: white;

        font-size: 12px;

        margin-right: 0.6rem;

        &--invalid {
          color: red;
          font-size: 14px;
        }
      }

      &__input-container-label {
        color: white;

        font-size: 1.3rem;

        padding-left: 1rem;
        &__input {
          width: 3rem;
          height: 2rem;

          border-radius: 0.4rem;
          border: none;

          text-align: center;
          font-size: 1rem;
        }
      }
      &__new-canvas-button {
        background-color: $--color-background-light;

        padding: 0.5rem 1rem;

        font-weight: bold;
        font-size: 1.5rem;
        color: $--color-background-dark;

        border-radius: 0.6rem;
      }
    }
  }
}

.pixel {
  flex: 0 0 auto;

  &--border {
    border: 1px solid $--color-background-dark;
  }
}
.pixel:hover {
  background-color: $--color-background-dark;
}

.nours-piece {
  position: absolute;
  right: 30px;
  bottom: 30px;

  &__nour-pic {
    width: 5rem;
    height: 5rem;

    border: 2px $--color-background-light solid;
    border-radius: 3rem;

    background-image: url("../assets/images/Nour-Profile-Pic.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% 30%;

    background-color: $--color-background-light;

    cursor: not-allowed;
  }
  &__link-icons {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    &__icon {
      width: 2rem;
      height: 2rem;

      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 50%;

      border-radius: 1.5rem;

      &--github {
        background-image: url("../assets/images/github.png");
        &:hover {
          scale: 1.1;
        }
      }
      &--linkedin {
        background-image: url("../assets/images/linkedin.png");
        &:hover {
          scale: 1.1;
        }
      }
    }
  }
}

.note {
  width: 2rem;
  height: 2rem;

  background-color: white;
  background-image: url("../assets/images/note-text-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-size: 100%;

  border-radius: 0.4rem;

  position: absolute;
  left: 20px;
  bottom: 20px;
}

@media (max-width: 1000px) {
  .nours-piece {
    opacity: 0;
  }
  .note {
    opacity: 0;
  }
}
